.card{
    margin-bottom: 3%;
    border-radius: 2vh 2vh;
    border: aquamarine solid 1px;

}


@media screen and (min-width:501px) {
    .align-center {
        position: relative;
        align-self: center;
        justify-self: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);  
}
}
@media screen and (max-width:500px) {
    .align-center {
        position: relative;
        margin-top: 50%;
        bottom:auto;
        width: 100%;
        height: auto;
        object-fit: cover; 
         
}

}
#btnRowReport{
    display: flex;
    flex-direction: row;
}
.report{
    margin-inline-start: auto;
}
.d-inline-block{
    margin-right: 5%;
}
.btn{
    font-weight: 450;
}

@media screen and (max-width:1250px) {
    .share{
        min-width: fit-content;
        max-height: 8%;
    }
    .report{
        min-width: 45%;
        max-height: 8%;
    }
}
.tab{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}