.card{
    margin-bottom: 3%;
    background-image: url('./logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2%;
}
.progressGroup{
    margin-block: 4%;
}
.progress{
    margin-block: 2%;
}