.card{
    margin-bottom: 3%;
    border-radius: 2%;
}
.progressGroup{
    margin-block: 4%;
}
.progress{
    margin-block: 2%;
}
@media screen and (min-width:1100px) {
    .align-center {
        width: 45%;
        height: auto;   
}
}
@media screen and (max-width:500px) {
    .align-center {
        width: 100%;
        height: auto;   
}

}
