.modal-content{
    background-color: rgb(31, 31, 31);
    color: rgb(88, 187, 154);
    border-color: aquamarine;
}
.btn-close{
    color: aquamarine;
}
.modal-content{
    border-radius: 5px;
}

.form-control:focus {
    border:3px solid aquamarine;
    box-shadow: none;
  }
