@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
#navbar{
  background-color: #06085a;
  min-height: 8vh;
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1300px;
    }
  }

.navbar-brand{
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
}

.navbar-dark .navbar-toggler{
  border: aquamarine solid 1px;
}