.App {
  min-height: 92vh;
  text-align: center;
  width: 100%;
  margin: 0;
  background-image: url('./Components/images/bgApp.png'); 
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  display: flex;
  flex-direction: column;

}
.body{
  display: block;
  padding-inline: 5%;
  margin-top: 1rem;
  min-height: 80vmin;

}

@media screen and (max-width:500px) {
  li.nav-item{
    font-size: small;
  }
  
}
.nav-link{
  color: white;
  border: 0;
  
}


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-radius: 100vmax 100vmax;
  color: white;
}

.nav-tabs{
  padding-bottom: 0.3%;
  box-shadow: 0 0 20px #06085a;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #06085a;
  background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #0576e67d;
  border-radius: 100vmax 100vmax;
}
@media screen and (min-width:501px),(max-width: 700px){
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    min-width: 84px;
  }
  .nav-link{
    font-size: small;
    border: 0;
  }
  
}
@media screen and (max-width: 500px){
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    min-width: auto;
  }
  .nav-link{
    font-size:0.65em;
    border: 0;
  }
  
}

@media screen and (min-width:701px) {
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    min-width: 150px;
  }
}

.nav-tabs .nav-link{
  border-radius: 100vh 100vh;
}
.nav{
  border-radius: 100vh 100vh;
  background-color: #06085a;
  border:aquamarine solid 0.8px ;
  padding-top: 0.3%;
}

.noPolls{
  max-width: 90vw;
  min-width: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tabIcon{
  height: 1.5em;
  width: 1.5em;
}