@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.App {
  min-height: 90vh;
  text-align: center;
  width: 100%;
  margin: 0;
}
.mainContainer{
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-link{
  color: aquamarine;
  border-radius: 30%;
  
}

.nav-link active{
  background-color: rgb(255, 255, 255);
}

.nav-link:focus, .nav-link:hover{
  color: aquamarine;
}