.App {
  min-height: 90vh;
  text-align: center;
  width: 100%;
  margin: 0;
}
.body{
  padding-inline: 5%;
}

@media screen and (max-width:500px) {
  li.nav-item{
    font-size: small;
  }
  
}
.nav-link{
  color: aquamarine;
}
.nav-link active{
  background-color: rgb(255, 255, 255);
}
.nav-link:focus, .nav-link:hover{
  color: aquamarine;
}
