
  
  @media screen and (max-width: 960px){
    div.row{
      display: list-item;
      list-style-type: none;
    }
    #card{
      min-width: 90vw;
      margin-bottom: 10px;
    }
  }
  #cardBtn{
    font-weight: 800;
    font-size: 0.9em;
    padding-inline: 1.1em;
    margin-block:0.2rem;
    border-radius: 0.6vmax 0.6vmax;
  }


#btnIcon{
  height: 1.8em;
  width: 1.8em;
  margin-inline-end: 0.1em;
}
card{
  background-color: #06085a;
}