.card text-start{
    color: aquamarine;
  
  }
  @media screen and (max-width: 960px){
    div.row{
      display: list-item;
      
    }
    #card{
      min-width: 90vw;
    }
    
  }
  @media screen and (max-width: 1200px){
    #viewpoll{
      min-width: 34%;
      max-height: 20%;
    }
  }
