#percentVotes{
    font-size: 3pc;
    vertical-align: middle;
}
.btn-flat{
    background-color: aquamarine;
}
#closedCardEnd{
    justify-content: end;
}
@media screen and (max-width:1250px) {
    #full{
        min-width: 75%;
        max-height: 30%;
    }
}

