#shareBtnGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline:10%;
    flex-wrap: wrap;
}
.modal-title{
    font-size: 1.5rem;
    color: aquamarine;
}
.modal-title>h2{
    font-size: 1.2rem;
    padding-top: 0.5rem;;
    color: white;
}
#copy{
    height: 38px;
}


@media screen and (min-width:1001px) {
    #shareSocial{
        width: 4em;
        height: 3em;
    } 
    #linkIcon{
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        margin-bottom:0.1rem ;
    }
}
@media screen and (min-width:760px)  ,(max-width:1000px) {
    #shareSocial{
        width: 3em;
        height: 2em;
    }
    #linkIcon{
        width: 1em;
        height: 1em;
        margin-right: 0.1em;
        margin-bottom:0.1rem ;
    }
    #copy{
        font-size: 1em;
    }
}
@media screen and (max-width:759px) {
    #shareSocial{
        width: 3em;
        height: 2em;
    }
    #linkIcon{
        width: 1em;
        height: 1em;
        margin-right: 0.1em;
        margin-bottom:0.1rem ;
    }
    #copy{
        font-size: 0.65em;
    }
}