@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.Home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quote{
    font-family: 'Comfortaa', cursive;
    font-size: clamp(45px, 10vw, 60px); 
    line-height: 35pt;
    font-weight: 500;
    margin-bottom: 25px ;
    text-shadow: 0 0 20px #061b67;
}
.btn-outline-info{
    color: #7fffd4;
    border-color: aquamarine;
}
#create:hover{
    background-color: #7fffd4;
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
#create{
    color: #7fffd4;
    background-color: #06085a;
    border-radius: 0.5vmax 0.5vmax;
    background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #021B79;
}

 

 
@media screen and (min-width:740px), (max-width: 1200px){
    #create{
        min-width: 25%;
        min-height: fit-content;
    }
    
}
@media screen and (min-width: 501px),(max-width: 739px){
    #create{
        justify-self: center;
        min-width: 45%;
        min-height: fit-content;
    }
}
@media screen and (min-width: 1201px){
    #create{
        min-width: 20%;
        min-height: fit-content;
    }
    
}
@media screen and (max-width: 500px){
    #create{
        justify-self: center;
        min-width: 65%;
        min-height: fit-content;
    }
    
}