@import url('https://fonts.googleapis.com/css?family=Roboto');

.Home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quote{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3pc;
}
.btn-outline-info{
    color: #7fffd4;
    border-color: aquamarine;
}
#create{
    color: #7fffd4;
    background-color: #212529;
    border-color: #7fffd4;
}
#create:hover{
    background-color: #7fffd4;
    color: black;
}
