.modal-content{
    background-image: url(../../images/logo.png);
    background-size: cover;
    background-position: center;
}
.modal-body{
    display: flex;
    flex-direction: column;
    color: white;
}
.list-group-item{
    background-color: rgba(127, 255, 212, 0.132);
    border-inline: rgba(0, 255, 255, 0.853) solid 8px;
    border-block-end: white solid 0.1px;
    color: white;
}
#closing{
    text-align: end;
}
#btnModify{
    border-color: aquamarine;
    color: aquamarine;
}
#btnModify:hover{
    background-color: aquamarine;
    color: rgb(42, 41, 41);
}
#sub{
    color: aquamarine;
}